@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto+Condensed:wght@400;500;700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Xirod";
  src: url("/fonts/xirod.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AabrigyThink";
  src: url("/fonts/aAbrigyThink.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
